@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aplicación web en .NET</h1>
    <p> Aplicación web en .NET que permita registrar las facturas de las ventas realizadas en el restaurante  <b>Comidas Típicas del Sur</b></p>
</div>
